body {
    padding: 0;
    margin: 0;
    background-color: black;
}

nav {
    text-align: center;
    font-size: 20px;
}

ul {
    display: flex;
    justify-content: space-around;
}

a {
    color: white;
    text-decoration: none;
}

nav li {
    display: inline;
    list-style: none;
}

.image {
    width: 100%;
}

.accueil {
    text-align: center;
    color: white;
}

.parcours {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 55%;
}

.parcoursgauche {
    width: 60%;
    margin-right: 10px;
}

.parcoursimage {
    margin-top: 0;
    margin-bottom: 2%;
    float: right;
}

.etudes {
    background-color: rgb(87, 23, 23);
    padding-bottom: 10%;
}

.titreetudes {
    text-align: center;
    color: white;
}

.etudes h1 {
    text-align: center;
}

.etudesecole {
    margin-left: 23%;
}

.ecole {
    width: 70%;
    height: 20%;
    background-color: white;
    align-items: center;
}

.ecole img {
    margin-left: 43%;
    width: 15%;
    height: 20%;
}

.experiences {
    background-color: rgb(87, 23, 23);
    padding-bottom: 5%;
}

.titreexperiences {
    text-align: center;
    color: white;
}

.experiences h1 {
    text-align: center;
}

.expcadre {
    margin-top: 5%;
    margin-left: 23%;
}

.taff {
    width: 70%;
    height: 20%;
    background-color: white;
    align-items: center;
}

.taff img {
    margin-left: 45%;
    width: 10%;
    height: 20%;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
}

.mail:hover {
    color: lightblue;
    font-weight: bold;
}

